body {
  font-family: sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.number .animateOnClick {
  animation: Animation 0.1s;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1em;

  margin: auto;
  border: solid 0.5px #001;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 0.5em;
}

.user-input {
  text-indent: 0.5em;
  direction: rtl;
  height: 8em;
  width: 15em;
  border-radius: 1em 0;
  font-size: 2rem;
  border-radius: 35em;
  border-style: none;
  border-radius: 10px 10px 0px 0px;
  background-color: #000000;
  color: #eee;
  margin-bottom: 10px;
}

.number,
.operator,
.clear {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  font-size: 2.5em;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  border-radius: 45em;
  border: 0.5px solid black;
}

.operator {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 100%;
  border: 0.5px solid black;
}

.clear {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 0.5px solid black;
  border-radius: 100%;
  color: red;
}

.equals {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 1.5em;
  background-color: rgba(72, 244, 38, 0.824);
  border-radius: 45em;
  color: black;
  font-size: 3em;
}

.clear:hover,
.operator:hover {
  background-color: rgba(0, 0, 0, 0.521);
}

.number:hover {
  background-color: rgb(27, 26, 26);
}

.equals:hover {
  background-color: rgb(88, 215, 88);
}

@media all and (max-width: 570px) {
  body {
    overflow: hidden;
  }
  .user-input {
    width: 99%;
    height: 5em;

    text-indent: 0.2em;
  }
  .container {
    margin: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1em;

    margin: auto;
    border: solid 0.5px #001;
  }
  .number,
  .operator,
  .clear {
    width: 1.5em;
    height: 1.5em;
    margin: 0.1em;
  }
  .equals {
    width: 3em;
    height: 1em;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 1em;
  width: 100%;
}

a {
  text-decoration: none;
  backface-visibility: hidden;
}

[name="logo-linkedin"],
[name="share-outline"],
[name="document-outline"] {
  height: 2em;
  width: 2em;
}

ion-icon {
  color: #eee;
  font-size: 1.5em;
  backface-visibility: hidden;
}

ion-icon:hover {
  transform: scale(1.2);
  transition: all 0.4s ease;
  color: #1864ab;
}
